<!-- ******************* The Navbar Area ******************* -->
<div id="wrapper-navbar" itemscope itemtype="http://schema.org/WebSite">
    <a class="skip-link visually-hidden-focusable" href="#theme-main">Skip to content</a>

    <nav class="navbar-expand-none top-nav" aria-label="Main Navigation" >
        <div class="container">
            <div class="row">
                <div class="col-auto">
                    <div class="top-nav-left">
                        <div class="rmit-logo"></div>
                        <h2><a href="/dewey-design/">Learning Lab</a></h2>
                    </div> 
                </div>
                <div class="col">       
                    <ul>
                        <li class="hide-sm">
                        <a href="https://www.rmit.edu.au/library">Library</a>
                    </li>
                    <li class="search">
                        <a href="">
                            <div class="hide-sm">Search</div>
                            <div class="mag-glass"></div>
                        </a>
                    </li>
                        <li><button id="menu-button" class="btn btn-primary collapsed navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-expanded="false" aria-controls="navbarNavDropdown">Click for main menu</button></li>
                    </ul>
                </div>   
            </div>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                   <!-- menu content here?? -->                
            </div> 
        </div>
    </nav> <!-- .site-navigation -->
</div><!-- #wrapper-navbar end -->