<nav class="right-nav" aria-label="Section Menu">
    <h2><a href="">Section</a></h2>
    <h3><a href="">Subsection</a></h3>
    <ul>
        <li>
            <a href="">Content page</a>
            <ul>
                <li class="selected">Content subpage</li>
                <li><a href="">Content subpage</a></li>
                <li><a href="">Content subpage</a></li>
            </ul>
        </li>
        <li><a href="">Content page</a></li>
        <li><a href="">Content page</a></li>
        <li><a href="">Content page</a></li>
        <li><a href="">Content page</a></li>
    </ul>
</nav>
